@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  margin: 0;
  padding: 0;
  /*   overflow-x: hidden; */
  font-size: 14px;
}
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  direction: rtl;
  overflow-x: hidden;
  overflow-y: overlay;
}
* {
  box-sizing: border-box;
  font-family: IRANSansX !important;
  list-style-type: none;
  text-decoration: none;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}
a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
span,
strong,
tr,
th,
input,
button,
textarea,
select {
  font-family: IRANSansX !important;
}
a {
  outline: none;
  text-decoration: none;
}
.login p,
.login span,
.login label,
.login input {
  color: #fff !important;
}
.MuiFormControl-root .MuiInputLabel-shrink {
  left: unset !important;
  right: 5px !important;
}
.MuiFormControl-root .MuiInputLabel-filled {
  left: unset !important;
  right: 35px;
}
.sidebar span {
  color: rgba(0, 0, 0, 0.54);
}
.activeNav span,
.activeNav .MuiListItemIcon-root {
  color: #58c52b !important;
}
.sidebar .MuiListItemIcon-root {
  min-width: 33px !important;
}
.activeBorder {
  position: absolute;
  height: 100%;
  width: 4px;
  border: 4px solid #58c52b;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  right: -100%;
}
.transition {
  transition-property: color, background-color, border-color, fill, stroke,
    opacity, box-shadow, transform, filter, -webkit-text-decoration-color,
    -webkit-backdrop-filter !important;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter !important;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 0.5s !important;
}
.activeBorderShow {
  right: 0%;
}
.MuiListItem-root:hover {
  background-color: rgb(126 255 169 / 13%) !important;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.customDrawer2 .MuiPaper-elevation {
  right: unset !important;
  left: unset !important;
}
.PrivateSwipeArea-root {
  width: 0 !important;
}
.pulse {
  height: 20px;
  width: 20px;

  border: 5px solid #ef5350;
  border-radius: 70px;
  animation: pulse 1s ease-out infinite;
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }

  25% {
    -webkit-transform: scale(0.1);
    opacity: 0.1;
  }

  50% {
    -webkit-transform: scale(0.5);
    opacity: 0.3;
  }

  75% {
    -webkit-transform: scale(0.8);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
.enterDrag {
  animation: myfirst 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-color: transparent;
  background-image: linear-gradient(
      0deg,
      transparent,
      transparent 50%,
      rgb(82, 80, 80) 0,
      rgb(82, 80, 80)
    ),
    linear-gradient(
      0deg,
      transparent,
      transparent,
      transparent 50%,
      rgb(82, 80, 80) 0,
      rgb(82, 80, 80)
    ),
    linear-gradient(
      90deg,
      transparent,
      transparent 50%,
      rgb(82, 80, 80) 0,
      rgb(82, 80, 80)
    ),
    linear-gradient(
      90deg,
      transparent,
      transparent 50%,
      rgb(82, 80, 80) 0,
      rgb(82, 80, 80)
    );
  background-repeat: repeat-y, repeat-y, repeat-x, repeat-x;
  background-size: 2px 20px, 2px 20px, 20px 2px, 20px 2px;
  opacity: 0.7;
  border-radius: 8px;
}
@keyframes myfirst {
  0% {
    background-position: 0 0, 100% 100%, 100% 0, 0 100%;
  }
  100% {
    background-position: 0 +100px, 100% 0%, 0 0, 100% 100%;
  }
}
.select-tag svg {
  right: unset !important;
  left: 0 !important;
}
.select-tag .MuiSelect-select {
  padding-right: 5px !important;
}
.select-tag .MuiInputLabel-root {
  right: -20px !important;
}
.filled_selectTag .MuiInputLabel-animated{
  left: unset !important;
  right: 35px !important;
}
.filled_selectTag svg{
  right: unset !important;
  left: 0 !important;
}
.filled_selectTag .MuiInputLabel-shrink{
  top: 10px !important;
}
.profileInputs .MuiFormControl-root ,.profileInputs .MuiGrid-grid-lg-6{
  max-width: 550px !important;
}
.profileInputs .textarea{
  max-width: unset !important;
}